PORT=3000
HOST_ENV=local
DATABASE_URL=postgresql://ideanick:ideanick@localhost:5432/ideanick?schema=public
JWT_SECRET=local-jwt-secret
PASSWORD_SALT=local-password-salt
INITIAL_ADMIN_PASSWORD=1234
WEBAPP_URL=http://localhost:8000
BREVO_API_KEY=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
FROM_EMAIL_NAME=ideaNick
FROM_EMAIL_ADDRESS=noreply@brevo.ideanick.info
DEBUG=ideanick:*,-ideanick:prisma:*,-ideanick:trpc:query:success
# BACKEND_SENTRY_DSN=!!!SECRET!!!
# SENTRY_AUTH_TOKEN=!!!SECRET!!!
# SOURCE_VERSION=123